.title {
    margin: 0 auto;
    text-align: center;
}

body {
    display: flex;          
    justify-content: center; 
    align-items: center;           
}

* {
    background-color: #FAF9F6;
    font-family: 'Times New Roman', Times, serif';
}


.container {
    display: flex;
    text-align: left;
    flex-direction: column;
}


p {
    max-width: 600px;
    text-align: justify; 
}

.video-container {
    text-align: center;
}

img {
    display: block;
    height: 350px;
    width: auto;
    margin: 16px auto;
}

